@import '../../../style/colors.module.scss';

.imgPresentation {
    width: 550px;
}

.subTitle {
    font-size: 18px;
    font-weight: bold;
    color: $lightRed;
}

.title {
    font-size: 45px;
    font-weight: bold;
    line-height: 50px;
}

.description {
    font-size: 20px;
    color: $lightGray;
    line-height: 30px;
    margin: 20px 20px 40px 0px;
}

.btnCta {
    font-weight: bold;
    color: $lightGray;

    display: flex;
    align-items: center;
    gap: 25px;

    padding: 14px 30px;
    border: 2px solid $darkRed;
    border-radius: 10px;

    transition: 0.5s;

    .btnImg {
        width: 11px;
    }

    &:hover {
        border-color: $darkRed;
        color: white;
        background-color: $lightRed;
        font-size: 17px;

        .btnImg {
            filter: brightness(0) invert(1);
        }

    }
}

.arrowDown {
    width: 40px;
    animation: balanco 2s infinite linear;
    transition: 0.2s;

    &:hover {
        cursor: pointer;
        animation-play-state: paused;
        width: 45px;
    }
}

@keyframes balanco {

    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }

}