@import "../../../style/colors.module.scss";

.sectionTitle{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: $lightRed;
    margin: 50px 0px 30px 0px;
}

.card {
    width: 340px;
    height: 280px;
    background-size: 100% 100%;
    border-radius: 8px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.5s;

    .cardTitle{
        font-weight: bold;
        margin-bottom: 8px;
        transition: 0.5s;
    }
    .cardDescription{
        font-size: 15px;
        color: $lightGray;
        text-align:justify;
    }
    &:hover{
        transform: scale(1.03);
        .cardTitle{
            font-size: 18px;
        }
    }

}

.card1{
    @extend .card;
    background-image: url('../../../../public//homeNoAuth/imgFrontend.png');
}
.card2{
    @extend .card;
    background-image: url('../../../../public//homeNoAuth/imgBackend.png');
}
.card3{
    @extend .card;
    background-image: url('../../../../public//homeNoAuth/imgMobile.png');
}
.card4{
    @extend .card;
    background-image: url('../../../../public//homeNoAuth/imgGit.png');
}
.card5{
    @extend .card;
    background-image: url('../../../../public//homeNoAuth/imgProjects.png');
}
.card6{
    @extend .card;
    background-image: url('../../../../public//homeNoAuth/imgCareer.png');
}