@import"../../../style/colors.module.scss";


.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
}

.imgLogoNav{
    width: 200px;
}

.navBtn{
    margin: 0 5px;
    border-color: transparent;
    font-weight: bold;
    color: $lightGray;
    transition: 0.5s;
    &:hover{
        color: white;
        background-color: $lightRed;
        border-color: $darkRed;
    }
}

@media(max-width:454px){
    .nav{
        justify-content: center;
    }

    .navBtn{
        margin: 16px 10px;
        border-color: white;
        font-size: 14px;
    }

    .ctaSection{
        gap: 10px;
    }
}

@media(max-width:359px){
    .ctaSection{
        text-align: center;
    }
    .imgCta{
        margin: 0px 8px;
    }
}