@import '../../../style/colors.module.scss';

.headerLogo {
    width: 200px;
    cursor: pointer;
}

.searchImage {
    width: 20px;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
}

.search{
    display: flex;
    align-items: center;
    height: 42px;
    gap: 10px;
    border: 1px solid $lightGray;
    border-radius: 5px;
    padding: 5px 10px;
    .input{
        border: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: white;
        &::placeholder{
            color: $lightGray;
        }
        &:focus{
            outline: none;
        }
    }
}

.userProfile{
    font-size: 24px;
    font-weight: bold;
    color: $lightRed;
    background-color: white;
    text-transform: uppercase;
    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}