@import '../../../style/colors.module.scss';

.headerLogo {
    width: 200px;
    cursor: pointer;
}

.searchImage {
    width: 20px;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
}

.search {
    display: flex;
    align-items: center;
    height: 42px;
    gap: 10px;
    border: 1px solid $lightGray;
    border-radius: 5px;
    padding: 5px 10px;

    .input {
        border: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: white;

        &::placeholder {
            color: $lightGray;
        }

        &:focus {
            outline: none;
        }
    }
}

.userProfile {
    font-size: 24px;
    font-weight: bold;
    color: $lightRed;
    background-color: white;
    text-transform: uppercase;
    min-width: 45px;
    min-height: 45px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.modal {
    position: absolute;
    width: 150px;
    height: 80px;
    top: 85px;
    right: 17%;
    background-color: #303030;
    outline: none;
    border-radius: 5px;
    box-shadow: 8px 6px 4px #0000007c;

    /* CONTEÚDO DO MODAL */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 24px;
}

.modalLink {
    color: white;
    margin: 5px 0px;
    font-weight: bold;
    cursor: pointer;
}

.overlayModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}