@import '../../style/colors.module.scss';

.main{
    background-image: linear-gradient(to top, #8b8b8b1a, black),;
}

.formTitle{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.form{
    width: 60%;
    padding: 50px;
    border: 5px solid $darkRed;
    border-left: transparent;
    border-right: transparent;
    border-radius: 20px;
    margin: 0px auto;
    
}

.label{
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    border-bottom: solid 2px $darkRed;
}

.input{
    border-color: $darkRed;
    border-radius: 15px;
    background-color: $darkGray;
    color: white;

    &::placeholder{
        color: $lightGray ;
    }

    &:focus{
        box-shadow: none;
    }
}

.formBtn{
    display: block;
    margin: 0px auto 0px auto;
    border-color: $lightRed;
    color: $lightGray;
    font-weight: bold;
    transition: 0.2s;


    &:hover{
        background-color: $lightRed;
        border-color: $darkRed;
        transform: scale(1.03);
    }
}

@media(max-width: 992px) {
    .form{
        width: 90%;
    }
}